.sumSection {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 30px;
  gap: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  border-bottom: 1px solid gray;
}

nav .logo {
  flex: 0.5;
  color: gray;
  display: flex;
  justify-content: center;
}

nav .main {
  flex: 8;
  display: flex;
  list-style-type: none;
}

nav .main li {
  margin-left: 20px;
}

nav .main li a {
  text-decoration: none;
  color: gray;
}

nav .search {
  flex: 1.5;
}

nav .search-field {
  border: none;
  padding: 4px;
  background-color: lightgray;
  width: 93%;
}
